*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1px 2px;
}
@media(min-width:375px) and (max-width:768px){
    header{
        margin: 0 0 40px;
    
    }
    .menu{
        display: none;
    }
    .menu_logo img{
        width: 160px;
        height: 70px;
        margin: 0px 10px 10px 10px;
    }

    .heada{
       display: flex;
       flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 9px 110px 6px 0px;
    }

    .home{
       background-image: url('/some_useful_images/home-background.png');
        background-size: cover;
    }
 
    nav img{
        width: 120px;
        height: 40px;
        
    }
    .hero img{
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 80px;
    }
    
    .heada h2 img{
        width: 80px;
        height: 25px;
    }
    .paragraph p{
        justify-content: center;
        align-items: center;
        margin: 30px 10px 40px 1px;
        font-size: 13px;
        color: darkgray;
    }
    .fotter p{
        font-size: 14px;
        color: darkgray;
    }
    .fotter p span{
        font-size: 20px;
        font-weight: bold;
        color: darkgray;
    }
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #282b32;
        background-image: url('image/Image/ball.png');
    }
    .body_header{
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-decoration-color: brown;
        color: white;
        box-sizing: border-box;
    }
    .parg_one{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        background-color: #515151;
        
        
    }
    .title{
        color: red;
    }
    .para{
        margin-left: 40px;
        font-size: 16px;
        color: white;
    }
    .parg_two{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 4px;
        background-color: #515151;
    }
    .body_title{
        color: red;
    }
    .body_para{
        margin-left: 20px;
        font-size: 16px;
        color: white;

    }
    .parg_three{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 4px;
        background-color: #515151;
    }
    .forum{
        color: red;
    }
    .p{
       margin-left: 48px; 
       font-size: 16px;
       color: white;
    }
    .parg_four{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        background-color: #515151;
    }
    .workshop{
        color: red;
    }
    .pa{
        margin-left: 20px;
        font-size: 16px;
        color: white;
    }
    .parg_five{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        background-color: #515151;
    }
    .cc{
        color: red;
       
    }
    .par{
        margin-left: 48px;
        font-size: 16px;
        color: white;
    }
    .button{
        display: flex;
        justify-content: center;
        border: 1px solid red;
        margin-top: 30px;
        height: 50px;
        margin: 40px 0 40px 0;
        background-color: red;
    }
  .body_header hr{
    background: red;
    margin: 4px 35px 10px 35px;

  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cardss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .foter_img_title{
    font-size: 16px;
  }
  .titlle hr{
    background: red;
    margin: 4px 75px 0px 75px;
    font-weight: bold;
  }
  .tex{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 9px;
    margin-left: 13px;
  }
 .tex_two{
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
    
 }
 .tex_one{
    font-size: 17px;
 }
 .tex_three{
    font-size: 8px;
    font-weight: bold;
 }
 .cad{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.tex_one{
    font-size: 17px;
}
.texx_three{
    font-size: 8px;
    font-weight: bold;
}
.texx_two{
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
}
.texx{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 9px;
    margin-left: 13px;
}
  .scroll img{
    margin: 50px 30px 70px 50px;
  }
  .titlle{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .fotter{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 70px;
    font-size: 16px;
  }
 
}    









